.servicesWrapper {
    margin: 40px 0;
    background-color: #f7f7f7;
    padding: 20px 0;
}

.brandWrapper {
    display: inline-block;
    margin-left: 20px;
}

.brandLogo {
    width: 100px;
    height: 100px;
    background-size: 100px;
    background-repeat: no-repeat;
    display: inline-block;
}

.brandLogo_uber {
    background-image: url('logo_uber.png');
}

.brandLogo_lyft {
    background-image: url('logo_lyft.png');
}


.brandPrices {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    vertical-align: top;
}

.brandOptionPrice td {
    padding: 2px 10px 0 0;
}

.optionName {
    font-weight: bold;
}