.geosuggest__input-wrapper input {
    width: calc(100% - 12px);
    height: 40px;
    font-size: 20px;
    border: 2px solid black;
    line-height: 40px;
    overflow: hidden;
    padding: 4px;
    font-family: 'Roboto', sans-serif;
}

.geoSuggest_to .geosuggest__input-wrapper input {
    border-top: 1px solid black;
}

.geosuggest__suggests {
    list-style-type: square;
}

.seachResultsWrapper li {
    width: 60%;
    height: 30px;
    font-size: 16px;
    border: 2px solid black;
    border-top: 0px;
    line-height: 30px;
    padding: 2px;
    padding-left: 6px;
    list-style: kannada;
    list-style-type: kannada;
    color: #8f25a1;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.seachResultsWrapper li:last-child {
    border-bottom-left-radius: 14px;
}

.geosuggest__suggests--hidden {
    display: none;
}

.geosuggest__suggests-wrapper {
    position: absolute;
    top: 105px;
    background: white;
}

