

body {
  margin: 0;
  padding: 0;

}

#root {
  font-family: 'Roboto', sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.appWrapper {

}

.appCenterWrapper {
  width: 90%;
  margin: 5% auto;
}

.inputFieldWrapper {
  position: relative;
}

h1 {
  color: green;
  text-align: center;
}
